@{
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<h1 class="mt-4">Makaleler</h1>


<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">Yönetim Paneli</li>
    <li class="breadcrumb-item active">Makaleler</li>
</ol>


<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Mevcut Makalelerin Tablosu
        <div class="float-right">
            <a href="#" class="btn-sm btn-primary">Yeni Ekle</a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="tblArticle" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Adı</th>
                        <th>Kategori Adı</th>
                        <th>Yazar</th>
                        <th>Yorum</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>


