@{
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1 class="mt-4">Yönetim Paneli</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">Yönetim Paneli</li>
    <li class="breadcrumb-item active">Anasayfa</li>
</ol>